<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.5.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

              <form th:action="@{/login}" method="post" th:object="${personne}">
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" th:field="*{email}">
                </div>
                <div class="form-group col-md-6">
                  <label for="name">password</label>
                  <input type="password" class="form-control" name="password" th:field="*{password}">
                </div>
               
              
              
              <div class="text-center"><input type="submit" value="Login"></input></div>
            </form>

</body>

</html>